@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name = "viewport" content = "with=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            @ViewBag.Greeting World (from the view)
            <p> We are going to have an exciting party. <br />
            </p>
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>
